ul#cssmw {
  cursor: default;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw ul {
  cursor: default;
  font-size: 0;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw ul li {
  background-image: none;
  float: none;
}
ul#cssmw li {
  background-image: none;
  float: left;
  padding: 0 0 0 0;
  position: relative;
  white-space: nowrap;
}
ul#cssmw li ul {
  display: none;
  top: 0;
}
ul#cssmw li:hover > ul {
  display: block;
  position: absolute;
}
ul#cssmw > li {
}
ul#cssmw > li > span {
	display: block;
}
ul#cssmw > li > span > a {
	background-image: url(../../images/nav-home.jpg);
	background-repeat: no-repeat;
	color: #fff;
	display: block;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	width: 93px;
	height: 93px;
	vertical-align: bottom;
	background-position: center bottom;
}
ul#cssmw > li:hover {
	background-position: left top;
	background-repeat: no-repeat;
}
ul#cssmw > li:hover > span {
	background-position: right top;
	display: block;
}
ul#cssmw > li:hover > span > a {
}
ul#cssmw ul.level-1 {
  left: 0px;
  top: 100%;
}
ul#cssmw ul.level-1 > li {
}
ul#cssmw ul.level-1 > li > a {
	background-color: #CCCCCC;
	color: #2D2B2E;
	display: block;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0;
	padding: 5px;
	width: 83px;
}
ul#cssmw ul.level-1 > li > a:active {
	background-color: #CCCCCC;
	color: #2D2B2E;
	text-decoration: none;
}
ul#cssmw ul.level-1 > li:hover > a {
	background-color: #FFFFFF;
	color: #2D2B2E;
	text-decoration: none;
}
ul#cssmw ul.level-2 {
	left: 83px;
}
ul#cssmw ul.level-2 > li {
  background-image: none;
}
ul#cssmw ul.level-2 > li > a {
	background-color: #fff;
	color: #2D2B2E;
	display: block;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	width: 83px;
}
ul#cssmw ul.level-2 > li > a:active {
	background-color: #CCCCCC;
	color: #2D2B2E;
	text-decoration: none;
}
ul#cssmw ul.level-2 > li:hover > a {
	background-color: #FFFFFF;
	color: #2D2B2E;
	text-decoration: none;
}
