ul#cssmw3 {
  cursor: default;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw3 ul {
  cursor: default;
  font-size: 0;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw3 ul li {
  background-image: none;
  float: none;
}
ul#cssmw3 li {
  background-image: none;
  float: left;
  padding: 0 0 0 0;
  position: relative;
  white-space: nowrap;
}
ul#cssmw3 li ul {
  display: none;
  top: 0;
}
ul#cssmw3 li:hover > ul {
  display: block;
  position: absolute;
}
ul#cssmw3 > li {
  background-image: none;
}
ul#cssmw3 > li > a {
	background-color: #000000;
	color: #FFFFFF;
	display: block;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	margin: 0;
	padding: 5px;
	text-decoration: none;
	text-transform: lowercase;
	width: 80px;
	vertical-align: middle;
	text-align: center;
}
ul#cssmw3 > li > a:active {
	background-color: #000000;
	color: #FFFFFF;
	text-decoration: none;
}
ul#cssmw3 > li:hover > a {
	background-color: #FFFFFF;
	color: #000000;
	text-decoration: none;
}
ul#cssmw3 ul.level-1 {
  left: 0px;
  top: 100%;
}
ul#cssmw3 ul.level-1 > li {
  background-image: none;
}
ul#cssmw3 ul.level-1 > li > a {
	background-color: #CCCCCC;
	color: #000000;
	display: block;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	margin: 0;
	padding: 5px;
	text-decoration: none;
	text-transform: uppercase;
	width: 160px;
}
ul#cssmw3 ul.level-1 > li > a:active {
  background-color: #DDDDDD;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw3 ul.level-1 > li:hover > a {
	background-color: #FFFFFF;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
ul#cssmw3 ul.level-2 {
  left: 111px;
}
ul#cssmw3 ul.level-2 > li {
  background-image: none;
}
ul#cssmw3 ul.level-2 > li > a {
	background-color: #666666;
	color: #FFFFFF;
	display: block;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	text-transform: uppercase;
	width: 160px;
}
ul#cssmw3 ul.level-2 > li > a:active {
  background-color: #DDDDDD;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw3 ul.level-2 > li:hover > a {
  background-color: #DDDDDD;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
