ul#cssmw3 {
  cursor: default;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw3 ul {
  cursor: default;
  font-size: 0;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw3 ul li {
  background-image: none;
  float: none;
}
ul#cssmw3 li {
  zoom:1;
  background-image: none;
  float: left;
  padding: 0 0 0 0;
  position: relative;
  white-space: nowrap;
}
ul#cssmw3 li ul {
  display: none;
  top: 0;
}
ul#cssmw3 li.hover ul {
  display: block;
  position: absolute;
}
ul#cssmw3 li {
  background-image: none;
}
ul#cssmw3 li a {
  background-color: #666666;
  background-image: none;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  color: #FFFFFF;
  display: block;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
}
ul#cssmw3 li a.active {
  background-color: #DDDDDD;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw3 li * a {
  height: auto;
  width: auto;
}
ul#cssmw3 li span * a {
  height: auto;
  width: auto;
}
ul#cssmw3 li.hover a {
  background-color: #DDDDDD;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw3 ul.level-1 {
  left: 0px;
  top: 100%;
}
ul#cssmw3 ul.level-1 li {
  background-image: none;
}
ul#cssmw3 ul.level-1 li a {
  background-color: #666666;
  background-image: none;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  color: #FFFFFF;
  display: block;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
}
ul#cssmw3 ul.level-1 li a.active {
  background-color: #DDDDDD;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw3 ul.level-1 li * a {
  height: auto;
  width: auto;
}
ul#cssmw3 ul.level-1 li span * a {
  height: auto;
  width: auto;
}
ul#cssmw3 ul.level-1 li.hover a {
  background-color: #DDDDDD;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw3 ul.level-2 {
  left: 111px;
}
ul#cssmw3 ul.level-2 li {
  background-image: none;
}
ul#cssmw3 ul.level-1 li ul.level-2 li a {
  background-color: #666666;
  background-image: none;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
  color: #FFFFFF;
  display: block;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
}
ul#cssmw3 ul.level-2 li a.active {
  background-color: #DDDDDD;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
ul#cssmw3 ul.level-1 ul.level-2 li.hover a {
  background-color: #DDDDDD;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
