ul#cssmw1 {
  cursor: default;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw1 ul {
  cursor: default;
  font-size: 0;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
ul#cssmw1 ul li {
  background-image: none;
  float: none;
}
ul#cssmw1 li {
  background-image: none;
  float: left;
  padding: 0 0 0 0;
  position: relative;
  white-space: nowrap;
}
ul#cssmw1 li ul {
  display: none;
  top: 0;
}
ul#cssmw1 li:hover > ul {
  display: block;
  position: absolute;
}
ul#cssmw1 > li {
  background-image: url("../cssmw1_images/left.gif");
  background-position: left top;
  background-repeat: no-repeat;
}
ul#cssmw1 > li > span {
  background-image: url("../cssmw1_images/right.gif");
  background-position: right top;
  background-repeat: no-repeat;
  display: block;
}
ul#cssmw1 > li > span > a {
	background-image: url(../../images/nav-residental.jpg);
	background-repeat: repeat-x;
	color: #fff;
	display: block;
	font-family: "Century Gothic", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	width: 151px;
	height: 93px;
}
ul#cssmw1 > li:hover {

}
ul#cssmw1 > li:hover > span {
	display: block;
}
ul#cssmw1 > li:hover > span > a {
	background-image: url(../../images/nav-residental.jpg);
	background-repeat: repeat-x;
	text-decoration: none;
}
ul#cssmw1 ul.level-1 {
  left: 0px;
  top: 100%;
}
ul#cssmw1 ul.level-1 > li {
  background-image: none;
}
ul#cssmw1 ul.level-1 > li > a {
	background-color: #CCCCCC;
	color: #2D2B2E;
	display: block;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0;
	padding: 5px;
	width: 151px;
}
ul#cssmw1 ul.level-1 > li > a:active {
	background-color: #CCCCCC;
	color: #2D2B2E;
	text-decoration: none;
}
ul#cssmw1 ul.level-1 > li:hover > a {
	background-color: #FFFFFF;
	color: #2D2B2E;
	text-decoration: none;
}
ul#cssmw1 ul.level-2 {
  left: 112px;
}
ul#cssmw1 ul.level-2 > li {
  background-image: none;
}
ul#cssmw1 ul.level-2 > li > a {
	background-color: #fff;
	color: #2D2B2E;
	display: block;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	width: 151px;
}
ul#cssmw1 ul.level-2 > li > a:active {
	background-color: #CCCCCC;
	color: #2D2B2E;
	text-decoration: none;
}
ul#cssmw1 ul.level-2 > li:hover > a {
	background-color: #FFFFFF;
	color: #2D2B2E;
	text-decoration: none;
}
